@media (min-width: 500px) {
  .supremeContainer {
    display: grid;
    grid-template-rows: calc(var(--size-9) * 7) 3fr;
    gap: var(--size-10);
    grid-area: content;
    padding: var(--size-9);
  }
}
