.videosMain {
  min-height: 80vh;
  background-color: var(--background-color);
}

.headerHamburger {
  position: absolute;
  cursor: pointer;
  top: var(--size-9);
  background: var(--logo-color);
  border: var(--size-1) solid;
  border-radius: 50%;
  padding: var(--size-3);
  right: var(--size-6);
  z-index: 999;
}

.videosNav {
  border-right: var(--size-2) solid;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--white);
  z-index: 997;
}

.navCloseOption {
  position: absolute;
  top: var(--size-11);
  right: var(--size-9);
  cursor: pointer;
}

.videosNavTranslateXMinus {
  transform: translateX(-100%);
}

.videosNavTranslateXZero {
  transform: translateX(0);
}

.videosNav > * {
  gap: var(--size-9);
  justify-content: flex-start;
  padding-right: var(--size-1);
}

@media (min-width: 500px) {
  .videosMain {
    grid-area: content;
    display: grid;
    grid-template-areas: "navigation content";
    grid-template-areas: "content";
    grid-template-columns: auto 3fr;
    grid-template-columns: 1fr;
  }

  .videosNav:nth-child(3) {
    grid-area: content;
  }

  .headerHamburger{
    position: fixed;
  }
}

@media (min-width: 700px) {

  .videosMain {
    grid-area: content;
    display: grid;
    grid-template-areas: "navigation content";
    grid-template-columns: auto 3fr;
  }

  .videosNav {
    position: sticky;
    top: calc(var(--size-15) * 2.3);
    left: var(--size-4);
    transform: translateX(0);
    grid-area: navigation;
    height: max-content;
    border: var(--size-2) solid var(--nice-gray);
    z-index: 996;
  }

  .navCloseOption,
  .headerHamburger {
    display: none;
  }
}
