@import "common.general.css";
@import "common.supremecontainer.css";
@import "common.mediaqueries.css";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --complementary: #ea5338;
  --nice-gray: #444444;
  --muted-text: #666666;
  --modal-background-color: rgba(0, 0, 0, 0.4);
  --modal-close: #aaaaaa;
  --background-color: rgb(245 245 244);
}

::selection {
  color: var(--complementary);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.delete:hover {
  color: var(--complementary);
}

.linkTo:hover {
  color: var(--logo-color);
}

.dnone {
  display: none;
}

.dblock {
  display: block;
}

.gap-5 {
  gap: 10px;
}

.w100 {
  width: 100%;
}

.alertDisplay {
  position: fixed;
  top: 10vh;
  right: 0;
  width: 300px;
  word-wrap: break-word;
}

.link {
  color: var(--black);
  font-weight: 600;
  cursor: pointer;
  font-size: medium;
}
