@import "common.general.css";
@import "common.supremecontainer.css";
@import "common.mediaqueries.css";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --complementary: #ea5338;
  --nice-gray: #444444;
  --muted-text: #666666;
  --modal-background-color: rgba(0, 0, 0, 0.4);
  --modal-close:#aaaaaa;
}

::selection {
  color: var(--complementary);
}

.delete:hover {
  color: var(--complementary);
}

.linkTo:hover{
  color: var(--logo-color);
}

.dnone {
  display: none;
}

.dblock {
  display: block;
}

.gap-5 {
  gap: 10px;
}

.w100{
  width: 100%;
}

