@import "common.general.css";
@import "common.supremecontainer.css";
@import "common.mediaqueries.css";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --complementary: #ea5338;
  --nice-gray: #444444;
  --muted-text: #666666;
}

::selection {
  color: var(--complementary);
}
