.form {
  row-gap: var(--size-5);
}

.formText .fontSizeInitial {
  font-size: initial;
}

.secondaryOption:hover,
.form .primaryOption {
  border: var(--size-1) solid var(--nice-gray);
  background: var(--logo-color);
}

.primaryOption:hover {
  border: var(--size-1) solid var(--nice-gray);
  background: var(--complementary);
}

@media (min-width: 700px) {
  .formWrapper {
    max-width: 40vw;
  }
}
