.headerWrapper {
  padding: var(--size-5) var(--size-9);
  border-bottom: var(--size-2) solid var(--nice-gray);
  display: grid;
  grid-area: header;
  gap: 16px 8px;
  grid-template-columns: repeat(auto-fill, 242px);
  z-index: 997;
}

.headerWrapper > * {
  width: max-content;
}

.headerEnd {
  display: flex;
}

.searchBarWrapper {
  width: max-content;
}

.logoutWrapper {
  padding: var(--size-5);
  width: max-content;
}

.logoutWrapper:hover {
  color: var(--logo-color);
}

@media (min-width: 500px) {
  .headerWrapper {
    position: sticky;
    top: 0;
    background: var(--white);
  }
}

@media (min-width: 700px) {
  .headerWrapper {
    display: grid;
    grid-area: header;
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc(var(--size-16) * 2.3), 1fr)
    );
    grid-template-rows: 1fr;
    position: sticky;
    top: 0;
    background: var(--white);
  }
  .searchBarWrapper {
    grid-row: 1;
    grid-column: 2/3;
    width: initial;
  }
  .headerEnd {
    grid-column: 3/4;
    grid-row: 1;
    margin: 0 0 0 auto;
  }
  .heroWrapper {
    grid-column: 1/2;
  }
}
