.headerWrapper {
  display: grid;
  /* Fallback code */
  grid-template-rows: repeat(auto-fill, minmax(var(--size-16), 1fr));
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(2,1fr);
  grid-area: header;
  align-items: center;
  padding: var(--size-5) var(--size-9);
  border-bottom: var(--size-2) solid var(--nice-gray);
  justify-content: space-between;
}

.heroWrapper{
  grid-column: 1/3;
}

.headerEnd {
  display: flex;
  grid-row: 2/3;
  grid-column: 2/3;
}

.searchBarWrapper {
  width: max-content;
  grid-row: 2/3;
  grid-column: 1/2;
}

.logoutWrapper {
  padding: var(--size-5);
  width: max-content;
}

.logoutWrapper:hover {
  color: var(--logo-color);
}

@media (min-width: 700px) {
  .headerWrapper {
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc(var(--size-16) * 2.3), 1fr)
    );
    grid-template-rows: 1fr;
    position: sticky;
    top: 0;
    z-index: 30;
    background: var(--white);
  }
  .searchBarWrapper {
    grid-row: 1;
    grid-column: 2/3;
    width: initial;
  }
  .headerEnd {
    grid-column: 3/4;
    grid-row: 1;
    margin: 0 0 0 auto;
  }
  .heroWrapper{
    grid-column: 1/2;
  }
}
